@font-face {
  font-family: 'Junicode';
  font-style: normal;
  font-weight: bold;
  src: url(../fonts/Junicode-BoldItalic.woff) format('woff');
}

body {
  background-color: #d09f53;
}

nav, #payload {
  font-family: 'Junicode';
  font-size: 120%;
}

#payload {
  padding: 50px 42px 42px 42px;

  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255) transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.8);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#AAFFFFFF, endColorstr=#AAFFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#AAFFFFFF, endColorstr=#AAFFFFFF)";
}

#payload h1 {
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}
