{% extends "layout.html" %}
{% block payload %}
<h1>Egyházi szertartás</h1>
<p>Az egyházi szertartásra a Budafok-Belvárosi Szent Lipót templomban kerül sor 14.30 órától. A szertartást közös fényképezkedés és a gratulációk követik.</p>
<dl class="dl-horizontal">
	<dt>Cím</dt>
	<dd>1221 Budapest, Savoyai Jenő tér</dd>
	<dt>GPS</td>
	<dd>47.429100, 19.036256</dd>
</dl>
<h2>Hogy jutok oda?</h2>
<p>A templom autóval jól megközelíthető, az út forgalmi viszonyoktól függően 15-30 percet vesz igénybe. A parkolás a környező utcákban a kijelölt helyeken ingyenesen lehetséges.</p>
<h3>Megközelítés tömegközlekedéssel a <a href="{{ url_for('polgari') }}">polgári szertartás</a> után</h3>
<p>A helyszín 30 perc alatt a következő módokon közelíthető meg tömegközlekedéssel.</p>
<ul>
	<li>A Kosztolányi Dezső térről a 141-es busszal Baross Gábor telep, Ispiláng utca irányban 11 megálló a Savoyai Jenő térig. Innen a templom 3 perc sétára található.</li>
	<li>A Kosztolányi Dezső térről a 213-as busszal Baross Gábor telep, Török utca irányban 11 megálló a Savoyai Jenő térig. Innen a templom 3 perc sétára található.</li>
</ul>
<h3>Megközelítés tömegközlekedéssel a város más részeiből</h3>
<ul>
	<li>251-es busz Budafok,Városház tér megállójától egy perc séta</li>
	<li>33, 58, 114, 141, 213, 214, 233E, 250, 250A buszok Savoyai Jenő tér megállójától 3 perc séta</li>
	<li>47-es villamos Budafok, Városház tér megállójától 5 perc séta</li>
</ul>
{% endblock %}
