{% extends "layout.html" %}
{% block payload %}
<h1>Judit és Andris<br /><small>2014. július 12.</small></h1>
<p class="lead">Üdvözlünk az esküvői weboldalunkon!</p>
<p>Ezen az oldalon tájékozódhattok a helyszínekről, nászajándékokról,
valamint minden egyéb fontos részletről. Ha valamivel kapcsolatban
kérdésetek van, a <a href="{{ url_for('kapcsolat') }}">Kapcsolat</a>
menüpontban megtalálhatjátok kapcsolattartóinkat.</p>
<p>Várunk szeretettel!</p>
<img src="{{ url_for('static', filename='img/ring.jpg') }}" alt="" class="img-rounded img-responsive">
{% endblock %}
