{% extends "layout.html" %}
{% block payload %}
<h1>Kapcsolat</h1>
<p>Ha kérdésed van, vagy valamivel kapcsolatban további információra lenne szükséged, az esküvő előtt írhatsz nekünk az <a href="mailto:eskuvo@vsza.hu">eskuvo@vsza.hu</a> e-mail címen.</p>
<p>A nászajándékokkal kapcsolatban Veres-Szentkirályi Andreát keresheted &ndash; kérjük, ilyen kérdéssel csak akkor fordulj hozzánk, ha biztos vagy benne, hogy csak mi tudunk segíteni.</p>
<p>Az esküvő napján arra kérünk, hogy kérdéseiddel fordulj Hegyi Zsófiához vagy Veres-Szentkirályi Andreához.</p>
<table class="table table-condensed">
	<tr>
		<td rowspan="2">Hegyi Zsófi</td>
		<td>
			<span class="glyphicon glyphicon-envelope"></span>
			<a href="mailto:zshegyi89@gmail.com">zshegyi89@gmail.com</a>
		</td>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-earphone"></span> +36 20 531 3136</td>
	</tr>
	<tr>
		<td rowspan="2">Veres-Szentkirályi Andrea</td>
		<td>
			<span class="glyphicon glyphicon-envelope"></span>
			<a href="mailto:andrea.veres.szentkiralyi@gmail.com">andrea.veres.szentkiralyi@gmail.com</a>
		</td>
	</tr>
	<tr>
		<td><span class="glyphicon glyphicon-earphone"></span> +36 30 689 9290</td>
	</tr>
</table>
<p>A ceremónia alatt Kormos Róbert ceremóniamester lesz majd segítségünkre, a helyszínre érkezés után minden fontos információt megtudhatsz majd tőle.</p>
{% endblock %}
