{% extends "layout.html" %}
{% block payload %}
<h1>Kapcsolat</h1>
<p>Ha kérdésed van, vagy valamivel kapcsolatban további információra lenne
szükséged, az esküvő előtt írhatsz nekünk az
<a href="mailto:eskuvo@vsza.hu">eskuvo@vsza.hu</a> e-mail címre.</p>
<p>A nászajándékokkal kapcsolatban Veres-Szentkirályi Andreát keresheted
&ndash; kérjük, ilyen kérdéssel csak akkor fordulj hozzánk,
ha biztos vagy benne, hogy csak mi tudunk segíteni.</p>
<p>Az esküvő napján arra kérünk, hogy kérdéseiddel fordulj
Hegyi Zsófiához vagy Veres-Szentkirályi Andreához.</p>
<ul class="list-inline">
	<li>Hegyi Zsófi<br>
		<span class="glyphicon glyphicon-envelope"></span>
		<a href="mailto:zshegyi89@gmail.com">zshegyi89@gmail.com</a><br>
		<span class="glyphicon glyphicon-earphone"></span> +36 30 665 6327
	</li>
	<li>Veres-Szentkirályi Andrea<br>
		<span class="glyphicon glyphicon-envelope"></span>
		<a href="mailto:andrea.veres.szentkiralyi@gmail.com">andrea.veres.szentkiralyi@gmail.com</a><br>
		<td><span class="glyphicon glyphicon-earphone"></span> +36 30 689 9290</td>
	</li>
</ul>
<p>A ceremónia alatt Kormos Róbert ceremóniamester lesz majd segítségünkre,
a helyszínre érkezés után minden fontos információt megtudhatsz majd tőle.</p>
{% endblock %}
