{% extends "layout.html" %}
{% block payload %}
<h1>Polgári szertartás</h1>
<p>A polgári szertartásra az Újbudai Polgármesteri Hivatal Tanácstermében kerül sor 13 órától. Ezt követően együtt vonulunk át az <a href="{{ url_for('egyhazi') }}">egyházi szertartás</a> helyszínére.</p>
<dl class="dl-horizontal">
	<dt>Cím</dt>
	<dd>1113 Budapest, Zsombolyai u. 5.</dd>
	<dt>GPS</td>
	<dd>47.476876, 19.03760
	<small>(<a href="http://www.openstreetmap.org/?mlat=47.47654&amp;mlon=19.03745#map=17/47.47654/19.03745&amp;layers=Q">Nagyobb térkép megnyitása</a>)</small></dd>
</dl>
<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=19.03352379798889%2C47.474504862074994%2C19.041377305984494%2C47.478572973183525&amp;layer=mapquest&amp;marker=47.4765353312315%2C19.037450551986694" id="osmap"></iframe>
<h2>Hogy jutok oda?</h2>
<p>A házasságkötő terem a Kosztolányi Dezső tértől nem messze található, parkolni a környező utcákban lehet &ndash; hétvégén ingyenesen.</p>
<h3>Megközelítés tömegközlekedéssel</h3>
<ul>
	<li>40E, 83, 150, 150E, 153, 172E, 188E, 212, 240, 240E, 250, 272 buszok Kosztolányi Dezső tér nevű megállójától 3 perc séta</li>
	<li>19, 49 villamosok Kosztolányi Dezső tér nevű megállójától 5 perc séta</li>
</ul>
{% endblock %}
